$mainBg: #03a9f4;
$goodState: #cddc39;
$fairState: #ffc107;
$seriousState: #ef5350;
$alert: #ffc107;
$onWhite: #757575;
.input-field {
    margin: 0;
}

.navColumn {
    padding-right: 0;
}

nav {
    color: $onWhite;
    .input-field label.active i {
        color: $onWhite;
    }
    height: 45px;
    background-color: unset;
    i {
        color: $onWhite;
        line-height: 46px;
    }
    #search {
        margin: 0;
        height: 45px;
    }
}

.patientsTable {
    tbody {
        button {
            padding: 0;
            background-color: unset;
            box-shadow: unset;
            i {
                margin: 0;
                color: $onWhite;
            }
        }
        td {
            padding: 5px 5px;
        }
    }
    .ssn,
    .carePlan {
        color: $onWhite;
    }
    .goodState {
        background-color: $goodState;
        padding: 2px 15px 2px 15px;
        border-radius: 4px;
        color: #fff;
        font-weight: 500;
    }
    .fairState {
        background-color: $fairState;
        @extend .goodState;
    }
    .seriousState {
        background-color: $seriousState;
        @extend .goodState;
    }
    .alert {
        span {
            background-color: $alert;
            width: 24px;
            margin: 0 auto;
            height: 24px;
            border-radius: 50%;
            display: block;
            color: #fff;
            font-weight: bold;
        }
    }
    .patientImageAndPhoto {
        display: flex;
        align-items: center;
        font-weight: 600;
    }
    img {
        &.patientImage {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}

.pagination {
    .active {
        background-color: $onWhite;
    }
}

.fixed-action-btn {
    a:first-child {
        background-color: $mainBg;
    }
}