<div class="row">
    <div class="col s3 offset-s8">
        <nav>
            <div class="nav-wrapper">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>

<!-- Start Table -->
<table class="highlight bordered responsive-table z-depth-3 centered patientsTable">
    <thead>
        <tr>
            <th>Patients</th>
            <th>SSN</th>
            <th>Mediacal State</th>
            <th>Care Plan</th>
            <th>Alert</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="patientImageAndPhoto">
                <img src="../../../assets/img/patient1.jpg" alt="patient1" class="circle responsive-img patientImage"> Colin Anawaty
            </td>
            <td>296173091</td>
            <td><span class="goodState">Good</span></td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, iusto.</td>
            <td class="alert"></td>
        </tr>

        <tr>
            <td class="patientImageAndPhoto">
                <img src="../../../assets/img/patient2.jpg" alt="patient1" class="circle responsive-img patientImage"> Rose Woods
            </td>
            <td>296173091</td>
            <td><span class="fairState">Fair</span></td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, iusto.</td>
            <td class="alert"><span>2</span></td>
        </tr>

        <tr>
            <td class="patientImageAndPhoto">
                <img src="../../../assets/img/patient3.jpg" alt="patient1" class="circle responsive-img patientImage"> Elsa Herrera
            </td>
            <td>296173091</td>
            <td><span class="goodState">Good</span></td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, iusto.</td>
            <td class="alert"></td>
        </tr>

        <tr>
            <td class="patientImageAndPhoto">
                <img src="../../../assets/img/patient4.jpg" alt="patient1" class="circle responsive-img patientImage"> Rene Lowe
            </td>
            <td>296173091</td>
            <td><span class="seriousState">Serious</span></td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, iusto.</td>
            <td class="alert"><span>3</span></td>
        </tr>

        <tr>
            <td class="patientImageAndPhoto">
                <img src="../../../assets/img/patient1.jpg" alt="patient1" class="circle responsive-img patientImage"> Archie Chapman
            </td>
            <td>296173091</td>
            <td><span class="fairState">Fair</span></td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, iusto.</td>
            <td class="alert"></td>
        </tr>

        <tr>
            <td class="patientImageAndPhoto">
                <img src="../../../assets/img/patient2.jpg" alt="patient1" class="circle responsive-img patientImage"> Julio Sharp
            </td>
            <td>296173091</td>
            <td><span class="goodState">Good</span></td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, iusto.</td>
            <td class="alert"></td>
        </tr>


    </tbody>
</table>
<!-- End Table -->