<nav>
    <ul class="hide-on-med-and-down">
        <li>
            <span class="circleActive"></span>
            <img src="../../../assets/img/doctor.jpg" alt="doctor" class="circle responsive-img ">
        </li>
        <li class="doctorName"><span>Dr. John Smith</span></li>
        <li class="active"><a routerLink="/profile-page"><i class="material-icons tiny ">account_circle</i>Profile</a></li>
        <li><a routerLink="/patients-page"><i class="material-icons tiny">group</i>Patients</a></li>
        <li><a routerLink="/laboratory-page"><i class="material-icons tiny">business</i>Laboratory Test</a></li>
        <li><a routerLink="/calendar-page"><i class="material-icons tiny">today</i>Calendar</a></li>
    </ul>
    <ul id="slide-out " class="side-nav">
        <li><a href="#! ">First Sidebar Link</a></li>
        <li><a href="#! ">Second Sidebar Link</a></li>
    </ul>
    <a href="# " data-activates="slide-out " class="button-collapse "><i class="mdi-navigation-menu "></i></a>
</nav>