.carousel {
    height: 500px;
    margin-top: -10%;
    .slider1 {
        background: url("../../assets/img/slide1.png") no-repeat;
        background-size: cover;
        background-position: center center;
    }
    // .slider2 {
    //     background-size: cover;
    //     background-position: center center;
    //     background: url("../../assets/img/slide2.png") no-repeat;
    // }
    // .slider3 {
    //     background-size: cover;
    //     background-position: center center;
    //     background: url("../../assets/img/slide3.png") no-repeat;
    // }
}