<nav>
    <div class="nav-wrapper">
        <span href="#!" class="brand-logo">HealthyLife</span>
        <ul class="right hide-on-med-and-down">
            <li><a href="#"><i class="small material-icons">work</i></a></li>
            <li><a href="#"><i class="small material-icons">notifications</i></a></li>
            <li><a href="#"><i class="material-icons small">power_settings_new</i></a></li>
        </ul>
    </div>
</nav>


<div class="row">
    <div class="col s2 side-nav fixed sidenav">
        <sidenav>
        </sidenav>
    </div>

    <div class="col s10 offset-s2 content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, voluptatum soluta laboriosam eligendi sequi, voluptatem, repellat ullam officiis odit culpa dolore saepe excepturi quas quos enim! Reiciendis placeat dolores eaque fuga sunt vitae
            suscipit enim similique ducimus modi ipsum illo architecto accusamus expedita tempora quisquam quas facere, asperiores, mollitia explicabo. Odio explicabo ducimus ipsam fugit. Pariatur veniam deleniti sapiente maiores itaque, magnam soluta
            ipsam quam voluptatem aut, eius amet consequatur labore tenetur? Maxime sunt deleniti iste debitis adipisci, ab error, ipsa recusandae impedit corporis nemo ad repellendus, veritatis reiciendis illo? Debitis eaque possimus, dolores sint natus
            ducimus beatae in, voluptas repudiandae id rerum sunt exercitationem! Numquam quam dolor ipsam. Ut vel, corrupti sit pariatur dicta consectetur voluptatem nesciunt. Nihil sapiente nulla eaque ipsam cum, voluptate adipisci iure omnis tempore
            animi ab quo repudiandae quod reprehenderit aperiam vel distinctio totam magni! Fuga, aspernatur ducimus repudiandae dolor perspiciatis blanditiis dignissimos minima cumque velit laborum culpa nobis beatae odio explicabo voluptas quo sequi,
            possimus eos exercitationem illo voluptatem aperiam quae, quam nisi. Neque voluptatibus eligendi dolor qui illum accusamus temporibus quod iure voluptas recusandae officiis facilis quidem nemo at officia ipsa pariatur distinctio mollitia,
            ducimus reprehenderit! Eius, corrupti quo illum repudiandae facilis error!</p>
    </div>
</div>