$mainBg: #03a9f4;
$headerBg: #0288d1;
$contentBg: #eee;
.sidenav {
    background-color: $mainBg;
    margin-top: 80px;
    padding-left: 0px;
    padding-right: 0px;
}

nav {
    height: 80px;
    background-color: $headerBg;
    .nav-wrapper {
        line-height: 80px;
        ul {
            padding-top: 5px;
        }
    }
    i {
        color: #fff;
    }
}

.content {
    background-color: $contentBg;
}